*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

#Heading h1 , h4{
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}
